.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #052e3a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavLink {
  font-size: 20px;
  color: currentColor;
}

.NavLinkActive {
  color: rgb(85, 7, 33);
}
.list {
  display: flex;
  list-style: none;
}
.item {
  margin-left: 20px;
}
.container {
  width: 1200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}
